.snow-icon {
    --snow-icon-color: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    fill: currentColor;
    color: var(--snow-icon-color);
    font-size: inherit;
  }
  
  @each $val in primary,info,success,warning,danger {
    .snow-icon--$(val) {
      --snow-icon-color: var(--snow-color-$(val));
    }
  }
  